<main>
    <div class="container py-1">

        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="panel">
                        <div class="card-body">
                            <div class="text-center">
                                <div class="avatar">
                                    <div class="default">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </div>
                                </div>
                     
                                <% if @user.avatar?%>
                                     <div>
                                        <%= image_tag(@user.avatar.url) %>
                                     </div>
                                <% end %>
                               
                                <div class="media-body ml-3">
                                    <h1><%= @user.name %></h1>
                                    <p><%= @user.email %></p>
                                </div>

                                <hr>
                                
                                <div class="row mt-15">
                                    <div class="col-sm-6">
                                        <strong><a href="#">0</a></strong>
                                        <div>following</div>
                                    </div>
                                    <div class="col-sm-6">
                                        <strong><a href="#">0</a></strong>
                                        <div>followers</div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="well text-center">
                                <h4>0</h4>
                                <small>words learned</small>
                            </div>
                                        
                        </div>
                    </div>
                </div>

                <div class="col-sm-8 offset-sm-1">
                    <div class="activity-feed">
                        <div class="well pt-0">
                        <h2>Activities</h2>

                                <p class="text-muted">Nothing to show.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>