<div class="container">
<div class="row" style="margin-bottom: 20px;">
         <div class="col-sm-6">
            <h1>name 1</h1>
         </div>
         <div class="col-sm-6 text-right">
            <h3 class="text-muted"><span>Result:</span><span class="text-warning">0</span> of 4</h3>
         </div>
      </div>
    <div class="card">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Word</th>
                    <th scope="col">Correct Answer</th>
                    </tr>
                </thead>
                <tbody>
                    <%# <% @categories.each do |category| %> 

                        <tr>
                        <td><h1>one</h1>
                        <%# <%= link_to category.title, admin_category_words_path(category.id) %> 
                        </td>

                        <td><h1>two</h1>
                        <%# <%= category.description %> 
                        </td>

                        
                        </tr>
                    <%# <% end %> 
                   
                </tbody>
            </table>
    </div>
</div>