<div class="container">
<div class="row" style="margin-bottom: 20px;">
         <div class="col-sm-6">
            <h1>name 1</h1>
         </div>
         <div class="col-sm-6 text-right">
            <h3 class="text-muted"><span>Result:</span><span class="text-warning">0</span> of 4</h3>
         </div>
      </div>
    <div class="card">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Word</th>
                    <th scope="col">Your Answer</th>
                    <th scope="col">Correct Answer</th>
                    </tr>
                </thead>
                <tbody>
                  <% @answers.each do |answer| %>

                        <tr>
                        <td>
                         <h1> <%= answer.word.content %></h1>
                        </td>
                        
                        <td>
                         <h1> <%= answer.word.your_answer %></h1>
                        </td>

                        <td>
                         <h1> <%= answer.word.correct_answer.content %></h1>
                        </td>
                        </tr>
                
                   <% end %>
                </tbody>
            </table>
    </div>
</div>