@import "bootstrap";

.avatar {
    height: 80px;
    width :80px;
    overflow: hidden;

    img{
        width:100%;
    }

}
.paginate {
    text-align: center;
    
    nav {
        display: inline-block;
    }
}