<h1>Categories</h1>
<div class="row">
    <% @categories.each do |category| %>
    <div class="col-md-6 mb-4">
     <div class="card">
      <div class="card-body">
        <h5 class="card-title"> 
         <%= category.title %>
        </h5>
        <p class="card-text">
        <%= category.description %>
        </p>
        <%# <a href="/categories/:category_id/answers/new" class="btn btn-primary">Learn</a> %>
        <%= button_to "Learn", lessons_path(lesson: {category_id: category.id}), method: :post ,class: "btn btn-primary" %>

      </div>
    </div>
    </div>
    <% end %>
</div>

<div class="paginate mt-4">
<%= will_paginate %>
</div>