<header class="navbar navbar-expand-sm navbar-dark bg-dark">
   <div class="container">
   <%= link_to "sasaki", root_path, class: "navbar-brand" %>

   <ul class ="nav navbar-nav navber-right">
   <li class="nav-item">
            <%= link_to "Sign up", "#", class: "nav-link" %>
        </li>

        <li class="nav-item">   
            <%= link_to "Log in", "#", class: "nav-link" %>
        </li>
        </ul>
</header>